.leaflet-container {
    width: 50vw;
    height: 50vh;
    margin-left: 20%;
    border-radius: 10px;
}

.leaflet-tile {
    filter: hue-rotate(175deg) !important;
}

.map {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}