.leaflet-container{
    width: 50vw;
    height: 50vh;
    margin-left: 20%;
    border-radius: 10px;
}

.leaflet-tile {
    filter: hue-rotate(45deg) !important;
}

.manila {
    margin-top: 2rem;
}
