.guestForm {
    margin-top: 2rem;
    margin-left: 6rem;
    padding: 2rem;
    border-radius: 5px;
    color: #e8463e;
    box-shadow: #eaae8f 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 75%;
    text-align: center;
}

.guestForm__title {
    margin-top: 5%;
    margin-left: 5%;
    text-decoration: line-through;
}

.newguestbutton {
    margin-top: 1rem;
}

.overrides .guestselect {
    background-color: #eb5952;
}

.newguestshow {
    margin-top: 0.9rem;
}