.date {
    display: flex;
    flex-direction: row;
    color: #e8463e;
    padding: 2rem;
    border-bottom: 1px solid #eaae8f;
    justify-content: space-around;
    vertical-align: middle;
    position: relative;
}

.date:hover {
    background-color: #e8463e;
    color: #eaae8f;
    filter: drop-shadow(0 0 0.75rem black);
}

.dayLocation {
    text-align: center;
    line-height: 0.5rem;
    position: absolute;
    margin: 0 auto
}

.dayDate {
    margin-left: -55rem;
    text-align: center;
}

.dayButton {
    position: absolute;
    right: 15%;
}

.datedetailtitle {
    margin-top: 5%;
    margin-left: 5%;
}

.showAddress {
    margin-left: 10%;
    margin-top: 5%;
}

.showdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: #eaae8f 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.essentials {
    border: solid 1px black;
    padding: 2rem;
    padding-top: 0.7rem;
    margin-top: 1rem;
    background-color: #fef335;
    color: #1c141b;
}

.overrides .addshowbutton {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.datelist {
    margin-top: 2rem;
}

.image {
    width: 4rem;
}

.overrides .addshowbutton {
    height: 2rem;
}


.overrides .datedetailcollapsible {
    background-color: #fef335;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: contain;
    min-width: 20rem;
    max-height: 4rem;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
}

.overrides .datedetailactive {
    background-color: #e8463e;
}

.overrides .datedetailcollapsible:hover {
    background-color: #e8463e;
}

.overrides .datedetailcollapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-bottom: 1rem;
}

.overrides .datedetailactive:after {
    content: "\2212";
}

.overrides .datedetailcontent {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    margin-top: -1rem;
}

.datedetaildoc {
    margin-top: 1rem;
}