.showForm {
    margin-top: 2rem;
    margin-left: 5%;
    width: 80%;
}

.formbox {
    padding: 2rem;
    border-radius: 5px;
    color: #e8463e;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.overrides .form-control {
    background-color: #e8463e;
}

.overrides .addshowbutton {
    width: 100%;
    margin-top: 2rem;
}