.date {
    display: flex;
    flex-direction: row;
    color: #e8463e;
    padding: 2rem;
    border-bottom: 1px solid #eaae8f;
    justify-content: space-around;
    vertical-align: middle;
    position: relative;
}

.date:hover {
    background-color: #e8463e;
    color: #eaae8f;
    filter: drop-shadow(0 0 0.75rem black);
}

.dayLocation {
    text-align: center;
    line-height: 0.5rem;
    position: absolute;
    margin: 0 auto
}

.dayDate {
    margin-left: -55rem;
    text-align: center;
}

.dayButton {
    position: absolute;
    right: 15%;
}

.detail__date {
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 2rem;
}

.showAddress {
    margin-left: 10%;
    margin-top: 5%;
}

.showdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: #eaae8f 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.essentials {
    border: solid 1px black;
    padding: 2rem;
    padding-top: 0.7rem;
    margin-top: 1rem;
    background-color: #fef335;
    color: #1c141b;
}

.overrides .addshowbutton {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.datelist {
    margin-top: 2rem;
}

.image {
    width: 4rem;
}

.overrides .addshowbutton {
    height: 2rem;
}