.image {
    width: 6rem;
}

.imagecard {
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
    background-color: #e8463e;
    width: 40%;
    border-radius: 10px;
}

.doccontainer {
    margin-top: 2rem;
    margin-left: 6rem;
    padding: 2rem;
    border-radius: 5px;
    color: #e8463e;
    box-shadow: #eaae8f 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 75%;
    text-align: center;
}


.doctitle {
    text-decoration: line-through;
    margin-top: 5%;
    margin-left: 5%;
}

.docimages {
    display: flex;
    flex-wrap: wrap;
}

