
li {
    list-style: none;
}

.logo {
    font-weight: bold;
    font-size: larger;
    margin-right: 15rem;
}

.navbar__logout {
    margin-left: 5rem;
}

.navitem {
    border: #dc3e16 solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
}

.navitemfirst {
    border: #dc3e16 solid 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom: 0;
}

.navitemlast {
    border: #dc3e16 solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 15px;
    border-bottom: 0;
}

.overrides .nav-link.active {
    background-color: #eb9b8b;
    border-color: #eb9b8b;
}

.tabs {
    border-color: #dc3e16;
    width: 100%;
    position: relative;
    border-radius: 20px;
    margin-top: 2rem;
}

.overrides .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}