
li {
    list-style: none;
}

.logo {
    font-weight: bold;
    font-size: larger;
    margin-right: 12rem;
    margin-left: 3rem;
}

.navbar__logout {
    margin-left: 5rem;
}

.navitem {
    background: none;
    color: #e8463e;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: inset 0 0 0 0 #e8463e;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.overrides .navitem:hover {
    box-shadow: inset 200px 0 15px 0 #e8463e;
    text-decoration: line-through;
    color: #1c141b;
}



.tabs {
    border-color: transparent;
    width: 100%;
    position: relative;
    border-radius: 20px;
    margin-top: 2rem;
}

.overrides .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #e8463e;
}

.overrides .nav-link:hover {
    color: #1c141b;
}