.title {
    text-decoration: line-through;
}

.registertitle {
    text-decoration: line-through;
    margin-bottom: 3rem;
}


.login {
    margin-top: 10%;
    margin-left: 40%;
}


.registerlogin {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.submit {
    margin-top: 0.5rem;
}

.registerlink {
    margin-top: 1rem;
}

.signinlogo {
    margin-bottom: 2rem;
}

.imamgr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}